---
 const personalImageAlt = "Lía Vizcaíno Perdomo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Lía, y empecé en el mundo de la programación estudiando
       <strong
        >Desarrollo de Aplicaciones Multiplataforma</strong
      >. Actualmente estoy buscando <strong
        >prácticas de empresa de último año</strong
      > para seguir creciendo como desarrolladora.
    </p>

    <p>
      Uno de mis logros más importantes fue crear <strong
        >desde cero la página web de CoralCheck</strong
      > durante mi primer año de prácticas. Fue una gran experiencia, ya que la desarrollé completamente por mi cuenta y me permitió adquirir muchos nuevos conocimientos técnicos y prácticos.
    </p>

    <p>
      En un futuro me gustaria, <strong
        >aplicar mis conocimientos de forma profesional</strong
      > en la creación de sistemas complejos, soluciones con inteligencia artificial o aplicaciones web y móviles..
    </p>

     <p>
      De manera más personal, disfruto <strong
        >aprender cosas nuevas</strong
      > también en mis ratos libres: me gusta crear <strong
        >mods de videojuegos, temas personalizados para dispositivos, y pequeñas aplicaciones propias,</strong
      > como un photobooth o herramientas de uso diario.
    </p>
  </div>

  <img 
  width="200" 
  height="200" 
  src={`${import.meta.env.BASE_URL}perfil.webp`}
  alt={personalImageAlt} 
  class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20" 
  style="object-position: 50% 50%"
>
</article>

