---
const personalImageAlt = "Lía Vizcaíno"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src={`${import.meta.env.BASE_URL}perfil.webp`}
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/lía-vizcaíno-perdomo-1a10b1255"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-[#ff5ea0] sm:text-5xl dark:text-[#ff7ab5]"
  >
    Hi!, soy Lía
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Tengo 21 años y soy de Tenerife.
    Me encanta crear cosas con código, desde páginas web hasta pequeñas aplicaciones personales.
  </p>
   <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Estoy terminando mis estudios en  <strong
      >Desarrollo de Aplicaciones Multiplataforma</strong
    > y estoy buscando una oportunidad para empezar mi camino profesional como desarrolladora full-stack.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:liavizcaino@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/lía-vizcaíno-perdomo-1a10b1255">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
